//users
homepage
login
dashboard
event_listing
event_details
checkout_page
order_confirmation
user_profile_page
history_page
payment_page

//admin_pages
admin_login_page
dash_boardevent_mgmt
ticket_mgmt_page
user_mgmgt_page
reports_page
settings_page

//support
contact_us_page
FAQ_PAGE
TERMS_AND_CONDITIONS
error_pages

//tech_used
flask
react
node.js
bootstrap